.arrowDown {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 68px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    i {
        font-size: 36px;
    }
    .text {
        font-size: 16px;
    }
}
.smallFrame {
    pointer-events: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    img {
        width: 200px;
        width: 324px;
    }
}

section {
    z-index: 0;
    position: relative;
    height: calc(100vh - 48px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .contents {
        position: relative;
        width: 100%;
        max-width: 980px;
        display: flex;
        .label {
            font-size: 18px;
            font-weight: 500;
        }
        .title {
            font-size: 28px;
            font-weight: 900;
            padding-bottom: 24px;
        }
        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            img {
                width: 100%;
            }
            .imageOver {
                position: absolute;
            }
            .imageRight {
                position: absolute;
                width: 480px;
                right: 0;
            }
            .mobileInImage {
                width: 270px;
                border-radius: 32px;
            }
            p:last-child {
                padding-bottom: 1.6em;
            }
        }
        .mobileFrame {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.home {
    z-index: 3;
    background-image: url("../../images/polygon.png");
    background-attachment: fixed;
    background-size: cover;
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            font-size: 48px;
            font-weight: 500;
        }
    }
}
.service0 {
    background-color: #fff;
}
.service1 {
    background-color: #efefef;
}
.service2 {
    background-color: #fff;
}

.about {
    
    background-image: url("../../images/sean-pollock-PhYq704ffdA-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.6);
    .contents {
        max-width: 768px;
    }
}

.contect {
    z-index: 4;
    background-color: #fff;
    .contents {
        max-width: 768px;
        form {
            display: flex;
            flex-direction: column;
            input[type='text'], input[type='email'], input[type='tel'], textarea{
                resize: none;
                border: 1px solid #ccc;
                height: 48px;
                font-size: 16px;
                padding: 0 16px;
                margin-bottom: 16px;
                &::placeholder {
                    color: #a7a7a7;
                }
            }
            textarea {
                height: auto;
                padding: 16px;
            }
            input[type='submit']{
                height: 56px;
                font-size: 16px;
                font-weight: 900;
                border-width: 1px;
                border-color: rgba(0, 0, 0, 0.1);
                background-color: #3c146a;
                color: #fff;
            }
        }
    }
}

@media (max-width: 768px) {

    section {
        padding: 48px 16px;
        height: auto;
        .contents {
            flex-direction: column;
            > div {
                flex: 1;
                .imageOver {
                    width: 330px;
                }
            }
            .disable {
                display: none;
            }
        }
    }
    .home {
        height: calc(100vh - 48px);
        .contents {
            .title {
                font-size: 36px;
                text-align: center;
            }
        }
    }

}
