html {
  height: 100%;
  body {
    margin: 0;
    font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d5d5d5;
    color: #343434;
  }
}

button {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: all 0.6s;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

p, h2 {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 500;
}
b {
  font-weight: 900;
  text-decoration: underline;
}