.head {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    width: 100%;
    height: 56px;
    padding: 0 24px;
    position: sticky;
    top: 0;
    background-color: #fff;
    .logo {
        position: absolute;
        left: 16px;
        img {
            height: 36px;
        }
    }
    .nav {
        display: flex;
        height: 100%;
        width: 425px;
        justify-content: space-between;
        .navButton {
            display: flex;
            align-items: center;
            padding: 0 16px;
            height: 100%;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid transparent;
            color: #a7a7a7;
            &.active {
                border-bottom: 2px solid #000;
                color: #241B53;
            }
        }
    }
}
